h1{
    color:rgb(0, 0, 0);
    text-align: center;
    text-decoration:dashed;
    text-transform:capitalize;
}
h3{
    color:rgb(0, 255, 13);
}
h2{
    color:rgb(0, 0, 0);
}
h4{
    color:rgb(0, 0, 0);
    font-weight:bold;
    line-height:10px;
}
body{
    background-color:rgb(0, 119, 128);
}
button{
    background-color:black;
    color:white;
}
img{
    border-color:black;
    border-width:2px;
    border-style:solid;
}
input{
    color:blue;
    border-width:2px;
    border-color:black;
}
hr{
    background-color:black;
}