*{
    margin:0;
    padding:0;
    justify-content: center;
}
#box{
    text-align: center;
}
h1{
    height:15vh;
    line-height: 5.8rem;
    font-size:40px;
    color:white;
    background-color:#008080;
}/*#353639*/
#pro1{
   background-color: black;
    color:white;
    height:42vh;
    background-image:url('/db.png') ;
}
#pro1 {
    padding-top:30px;
}
#p{
    font-size:40px;
}
#para{
    font-size:15px;
}
a{
    text-decoration: none;
    color:white;
}
#btn1{
   height:40px;
   width:90px;
   font-size:20px;
   border-radius: 20px;
   background-color: #051650;
   box-shadow: 0 5px 10px  #051650;
}
#btn1:hover{
    opacity: 0.5;
}
#pro2{
    background-color:black;
    color:white;
    height:42vh;
    background-image:url('/db.png') ;
}
