*{
    margin:0;
    padding:0;
    text-align: center;
    justify-content: center;
}
h1{
    height:13vh;
    line-height: 5rem;
    font-size:40px;
    background-color:black;
    color:white;
}
#link{
    height:87vh;
    font-size:40px;
    background-color:wheat;
}
#out{
    line-height:7rem;
    background-color:wheat;
}
#inbtn{
    height:35px;
    width:20vh;
    font-size:20px;
    border-radius:5px;
}
#inbtn:hover{
    opacity:0.5;
    background-color: rgb(142, 137, 137);
}
#inr{
    background-color:wheat;

}
a{
    text-decoration: none;
}
img{
    height:50px;
   
}
#out2{
    line-height:7rem;
    background-color:wheat;
    padding-top:40px;
}
#inbtn2{
    height:35px;
    width:20vh;
    font-size:20px;
    border-radius:5px;
}
#inbtn2:hover{
    opacity:0.5;
    background-color: rgb(142, 137, 137);
}
#inr2{
    background-color:wheat;

}