body{
    margin:0;
    padding:0;
    background-color: #393e46;
    color:white;
}
h1{
    text-decoration: solid;
    font-size: 40px;
}
img{
    height:40vh;
    width:60vh;
    border-radius:5px;
    padding-left:7px;
}
#box{
    text-align: center;
}
#price{
    height:30px;
    width:60vh;
    text-align: center;
    font-size: 30px;
}